html, body{
  height: 100%;
/*  margin-left: 2px;
  margin-right: 5px;*/
}
body {
/*  font-family: 'Droid Sans', 'Liberation Sans', FreeSans, 'Helvetica Neue LT Std', 'Helvetica LT Std', Helvetica, Arial, Tahoma, 'Lucida Grande', 'Lucida Sans', sans-serif;
*/
  font-family: 'Open Sans', sans-serif; 
  background-color: #fff;
  font-size: 14px;
}