<div class="container-fluid">
	<header class="row landing-page">
		<div class="col-md-2 lp-logo">
			<img [src]="logo" class="company-logo pull-left"/>
		</div>
		
		<div class="col-md-8 banner">
			Automated Marketing For All Your Listings
		</div>

		<div class="col-md-2 pull-right" id="sign-in">
			<button class="blue-btn" routerLink="/auth/signin" routerLinkActive="active">Signin</button>
		</div>
	</header>
	
	<div class="row">
		<div class="col-md-6 banner">
			<div>Watch How It Works</div>
			<div><iframe class="video-landing" src="https://www.youtube.com/embed/EMnGmAyTX90" frameborder="0" allowfullscreen></iframe></div>
			<div clas="container">
				Automatically <span class="highlighted-text">promote all your listings</span><br>
				to potential clients in your area of choice.
				<div class="highlighted-text">All of the time.</div>
				<button type="button" class="blue-btn" >Learn More</button>
			</div>
		</div>

		<div class="col-md-6 banner right-div divider-vertical">
			<div>Set & Forget</div>
			<div><span class="highlighted-text">Enroll In Minutes</span></div>
			<br>
			<div class="right-Mls">
				1. Enter Full Name or MLS Email
			</div>
			<div><input type="text" placeholder="Full Name or Email" id="landingPageInputBox"/></div><br>
			<div><button id="next-btn" routerLink="/auth/signup" routerLinkActive="active">Next</button></div>
			<div class="pull-right"><button type="button" id="team-brokerage-btn">Team or Brokerage?</button></div>
		</div>
		<br><br>
	</div>
</div>